<!DOCTYPE html>
<html>
<head>
  <title>RemoteFactoryBotHomeRails</title>
  <%= stylesheet_link_tag    "remote_factory_bot_home_rails/application", media: "all" %>
  <%= javascript_include_tag "remote_factory_bot_home_rails/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
